section#viewer {
    padding: 0.3vw;
}

.topic-column > * {
    display: block;
    align-content: center;
    text-align: center;
}

.topic {
    width: auto;
    height: 11vw;
    position: relative;
    margin: auto;
}

.topic .topic-label {
    display: block;
    position: absolute;
    top: 8vw;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}