.form-control, .form-control:focus {
    background-color: #000;
    color:#eee;
}

a, a:hover {
    color: #00bc8c;
}
a, .nav-item {
    cursor: pointer;
    opacity: 0.8;
}
a:hover, .nav-item:hover {
    opacity: 1;
}

section#viewer h2, section#viewer h3, section#viewer p {
    margin-left: 2vw;
    display: inline-block;
    color: #777;
    font-weight: bold;
}