.form-control, .form-control:focus {
    background-color: #000;
    color:#eee;
}

a, a:hover {
    color: #00bc8c;
}
a, .nav-item {
    cursor: pointer;
    opacity: 0.8;
}
a:hover, .nav-item:hover {
    opacity: 1;
}

/* viewer */
section#viewer h2, section#viewer h3, section#viewer p {
    margin-left: 2vw;
    display: inline-block;
    color: #777;
    font-weight: bold;
}

.topic-column > h4 {
    margin-bottom: 2vw;
    font-weight: bold;
    font-size: max(1.5vw, 16px);
}

.topic img, .topic-card img {
    width: 8vw;
    height:8vw;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.topic .topic-label {
    color: #fff;
    font-size: max(1vw, 12px);
}