.topic-column > * {
    display: block;
    align-content: center;
    text-align: center;
}

.topic-column > h4 {
    margin-bottom: 2vw;
    font-weight: bold;
    font-size: max(1.5vw, 16px);
}

.topic .topic-label {
    color: #fff;
    font-size: max(1vw, 12px);
    display: block;
    position: absolute;
    top: 8vw;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.topic {
    width: auto;
    height: 11vw;
    position: relative;
    margin: auto;
}


.topic img, .topic-card img {
    width: 8vw;
    height:8vw;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}